:root {
  --light-grey: #cccccc;
  --primary-color: #184b92;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  margin-bottom: 1.25rem;
}

.container {
  margin: 0 1rem;
}

.login-form {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;

    input {
      width: 100%;
      padding: .625rem 1rem;
      border-radius: .5rem;
      border: 1px solid var(--light-grey);

      &[type=submit] {
        background-color: var(--primary-color);
        color: white;
        border: 1px solid var(--primary-color);
        font-weight: 600;
      }
    }
  }

  .forgot-password {
    margin-bottom: 2.5rem;
  }

  .register {

  }
}